<div >


    <div class="row justify-content-md-center text-center">
        <div class="col bg-white d-lg-block col-md-5 col-lg-5 col-xl-6 rounded p-0 habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-laptop"></i>
            <h4>Desarrollo desktop</h4>
            <p>
                Realización de aplicaciones de escritorio utilizando parte front-end y back-end
                utilizando patrones de diseño y buenas prácticas de programación.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Java, C++, .NET Framework, SQL.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Patrón de diseño MVC</li>
                <li>Formularios</li>
                <li>Patrón de diseño Repository</li>
                <li>Encriptación de contraseñas</li>
                <li>Código seguro</li>
                <li>Programación Orientada a Objetos</li>
                <li>CRUD</li>
            </ul>
        </div> 

        <div class="col bg-white bg d-lg-block col-md-5 col-lg-5 col-xl-6 rounded p-0 habilidades" style="border-radius: 0 15px 15px 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-phone"></i>
            <h4>Desarrollo Móvil</h4>
            <p>
                Creo diferentes aplicaciones móviles para los tipos de requerimientos del cliente o negocio.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Dart, Flutter, SQLite
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Mapeo de Web APIs</li>
                <li>Clean architecture</li>
                <li>Principios SOLID</li>
                <li>Gestor de estado BloC</li>
                <li>JWT</li>
                <li>CRUD</li>
                <li>Gestor de estado Provider</li>
                <li>Logins</li>
            </ul>

        </div>

        <div class="col bg-white bg d-lg-block  p-0 habilidades" style="border-radius: 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-browser-edge"></i>
            <h4>Desarrollo Web</h4>
            <p>
                Realizo páginas y sistemas web con su respectivo front-end y back-end que atiende
                a todas las necesidades que se pidan.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                HTML, CSS, JavaScript, Spring, ASP.NET Core, Blazor, React
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Creación de Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Spring Boot</li>
                <li>Thymeleaf</li>
                <li>Bootstrap</li>
                <li>React Hooks</li>
            </ul>

        </div>
    </div>
</div>
<br />
<br />