<div class="container text-center">
    <h1 class="display-4">Soy Esdras Abel Sapón Díaz</h1>
    <h2>Desarrollador web, móvil y desktop</h2>
    <img id="foto"
         src="~/imagenes/foto.jpg" alt="Foto de Esdras" />
</div>

<div class="text-center">
    <img id="imagen-developer" src="~/imagenes/developer.png" alt="developer" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Realizo aplicaciones desktop, móvil y web. Los lenguajes de programación y tecnologías que utilizo son: Java, Spring, HTML, CSS, Javascript, Dart, Flutter, C++, .NET, SQL, C#,
            ASP.NET Core, Entity Framework y creación de APIS.

            <br /> <br />Es un gusto ponerme a tus órdenes con cualquier proyecto que tengas en mente.
        </p>
    </div>
</div>